FIREBASE_API_KEY="AIzaSyXXXXXXXXXXXXXXXX"
FIREBASE_AUTH_DOMAIN="nom-du-projet.firebaseapp.com"
FIREBASE_PROJECT_ID="nom-du-projet"
FIREBASE_STORAGE_BUCKET="nom-du-projet.appspot.com"
FIREBASE_MESSAGING_SENDER_ID="1234567890"
FIREBASE_APP_ID="1:1234567890:web:abcdef123456"
